:root {
  --primary: #111111;
  --secondary: rgb(233, 37, 37);
  --poppins: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary);
}

.navbar {

}

.navbar a {
  font-size: 1.8rem;
  color: #fff;
}

.logo a {
  font-size: 3rem!important;
  font-weight: bold;  
}

.logo span {
  color: #FA4C4C;
  
}

.seeker-form {
  position: relative;
}

.seeker {
  font-family: var(--poppins);
  font-size: 1.4rem;
  color: rgba(0, 0, 0, .8);
  outline: none;
  border-radius: 25px;
  padding: .7rem 1rem;
  transition: all .08s ease-in-out;
  border: none;
}

.seeker-form button {
  border: none;
  background: none;
  outline: none;
  color: #FA4C4C;
  padding: .5rem 1rem 1rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.movie-info {
  font-family: var(--poppins);      
}














/* .d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.bg-blue {
  background-color: var(--primary);
}

.btn { 
  font-size: 1.8rem;
  border: none;
  text-decoration: none;
}

.bar {
  padding: 2rem;
}

.bar .logo{
  font-size: 2.5rem;
  flex: 0 0 60%;
}

.bar .nav-items {
  flex: 1;
}

.nav-items .nav-item {
  flex: 1;
}

.nav-item {
  font-family: var(--poppins);
  text-decoration: none;
  color: white;

} */





